################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExtensionsSuite.Standard/bin/Debug/netstandard1.3
